---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import myPhoto from "../images/photo.jpg";
import education from "../images/illustrations/education.png"
import training from "../images/illustrations/training.png";
import publications from "../images/illustrations/publications.png";
---

<Layout title="">
	<header class="p-6 max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center md:justify-start md:items-center md:space-x-6">
		<div class="flex items-center space-x-3 mb-4 md:mb-0 md:flex-row">
			<div class="flex space-x-2">
				<span class="w-3 h-3 bg-yellow-400 rounded-full"></span>
				<span class="w-3 h-3 bg-purple-400 rounded-full"></span>
				<span class="w-3 h-3 bg-orange-400 rounded-full"></span>
			</div>
			<h1 class="text-xl font-bold text-gray-900">Мусорина Лариса</h1>
		</div>
		<nav class="flex flex-grow md:flex-row mt-4 gap-4 space-y-4">
			<a href="#about" class="hover:text-blue-500">Обо мне</a>
			<a href="#education" class="hover:text-blue-500">Образование</a>
			<a href="#materials" class="hover:text-blue-500">Полезные материалы</a>
		</nav>
	</header>

	<section id="hero" class="px-6 py-12 max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between">
		<div class="max-w-xl space-y-4">
			<p class="text-sm text-gray-600">📖 Добро пожаловать на мой сайт!</p>
			<h2 class="text-4xl font-bold text-gray-900 leading-tight">
				Нарушение речевого развития ребёнка
				<span class="bg-linear-to-r  from-black to-blue-600 inline-block text-transparent bg-clip-text">&mdash;</span>
				<span class="text-blue-600">это загадочная дверь, к которой необходимо найти подходящий ключ.</span>
			</h2>
			<p class="text-gray-700">
				Здесь я делюсь своим опытом и полезными материалами.
			</p>
		</div>
		<div class="relative mt-10 ml-auto mr-auto md:mt-0">
			<div class="w-72 h-72 bg-pink-200 rounded-full absolute top-0 left-0 -z-10"></div>
			<Picture
				src={myPhoto}
				alt="Фото"
				formats={["webp"]}
				widths={[512, 1024, 2048]}
				loading="lazy"
				decoding="async"
				class="w-72 h-72 rounded-full object-cover"
			/>
			<div class="absolute bottom-4 left-4 bg-white shadow-lg p-3 rounded-lg text-sm flex items-center space-x-2">
				<span class="text-gray-900 font-semibold">Мусорина Лариса Сергеевна</span>
				<span>✏️</span>
			</div>
			<div class="absolute top-4 right-4 bg-white shadow-lg p-3 rounded-lg text-sm flex items-center space-x-2">
				<span class="text-gray-900 font-semibold">Учитель-логопед</span>
				<span class="text-gray-500">📚</span>
			</div>
		</div>
	</section>

	<section id="about" class="px-6 py-12 max-w-7xl mx-auto flex flex-col md:flex-row items-center">
		<div class="space-y-4">
			<h2 class="text-3xl font-bold text-blue-600">Обо мне</h2>
			<p class="text-gray-800">
				Меня зовут <strong>Лариса, и я учитель-логопед.</strong>
			</p>
			<p class="text-gray-800">
				Я учитель-логопед средней общеобразовательной школы № 6 г. Сосновый Бор. В 2008 году поступила в РГПУ им. А.И. Герцена, и уже на первом курсе поняла, что выбрала правильный путь. С 2013 года работаю в средней школе № 6 в Сосновом Бору, занимаюсь инклюзивным образованием детей с ограниченными возможностями здоровья.
			</p>
			<div class="text-gray-800">
				<p class="font-medium">Мои ценности:</p>
				<ul class="list-disc pl-5">
					<li>Индивидуальный подход к каждому ученику</li>
					<li>Создание комфортной и поддерживающей атмосферы</li>
					<li>Стремление к постоянному профессиональному развитию</li>
				</ul>
			</div>
			<p class="text-gray-800">
				Моё педагогическое кредо: Нарушение речевого развития ребёнка для меня — это загадочная дверь, к которой необходимо найти подходящий ключ. Порой, даже на первый взгляд схожие ситуации требуют совершенно различных решений. Чем сложнее задача, тем больше вдохновения она вызывает — это возможность исследовать новые методы, приёмы и методики, углубляться в научные исследования и расширять свои горизонты.
			</p>
			<p class="text-gray-800">
				Каждый ребёнок — это уникальный мир, и моя задача — помочь ему открыть эту дверь к полноценному общению. Я верю, что терпение, креативность и индивидуальный подход могут сделать невозможное возможным. Моя работа — это не просто профессия, а призвание, в котором я нахожу радость и удовлетворение, видя, как дети преодолевают преграды и раскрывают свои способности.
			</p>
		</div>
	</section>

	<section id="education" class="px-6 py-12 max-w-7xl mx-auto items-center">
		<div class="space-y-6">
			<h2 class="text-3xl font-bold text-blue-600">Образование</h2>
			<div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-6">
				<div
					class="bg-red-400 p-0 rounded-lg shadow-md flex-1 text-center cursor-pointer"
					data-modal-target="modal-education">
					<img
						src={education.src}
						alt="Мое образование"
						class="w-full h-72 object-cover rounded-t-lg"
					/>
					<div class="px-4 py-4">
						<p class="text-white font-semibold">Мое образование</p>
					</div>
				</div>

				<div
					class="bg-purple-400 p-0 rounded-lg shadow-md flex-1 text-center cursor-pointer"
					data-modal-target="modal-training">
					<img
						src={training.src}
						alt="Повышение квалификации"
						class="w-full h-72 object-cover rounded-t-lg"
					/>
					<div class="px-4 py-4">
						<p class="text-white font-semibold">Повышение квалификации</p>
					</div>
				</div>

				<div
					class="bg-green-400 p-0 rounded-lg shadow-md flex-1 text-center cursor-pointer"
					data-modal-target="modal-publications">
					<img
						src={publications.src}
						alt="Публикации"
						class="w-full h-72 object-cover rounded-t-lg"
					/>
					<div class="px-4 py-4">
						<p class="text-white font-semibold">Публикации</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Модальное окно -->
	<div id="modal" class="fixed inset-0 bg-black/50 hidden flex items-center justify-center z-50">
		<div class="bg-white p-6 rounded-lg max-w-lg w-full relative">
			<button id="close-modal" class="absolute top-2 right-2 text-gray-600">&times;</button>
			<h3 class="text-2xl font-semibold text-gray-900" id="modal-title"></h3>
			<swiper-container
				id="modal-carousel"
				loop="false"
				space-between="10"
				slides-per-view="1"
				navigation="true"
				breakpoints='{"768": {"slidesPerView": 3}}'
				class="w-full mt-4"
			></swiper-container>
		</div>
	</div>

	<script>
		document.addEventListener("DOMContentLoaded", () => {
			const modal = document.getElementById("modal");
			const modalTitle = document.getElementById("modal-title");
			const modalCarousel = document.getElementById("modal-carousel");
			const closeModal = document.getElementById("close-modal");

			const data = {
				"modal-education": {
					title: "Мое образование",
				},
				"modal-training": {
					title: "Повышение квалификации",
				},
				"modal-publications": {
					title: "Публикации",
				}
			};

			const carouselData = {
				"modal-education": [
					"/my-education/1.1.jpg",
					"/my-education/1.2.jpg",
					"/my-education/1.3.jpg"
				],
				"modal-training": [
					"/training/1.png",
					"/training/2.png",
					"/training/3.png",
					"/training/4.png",
					"/training/5.png",
					"/training/6.png",
					"/training/7.png",
					"/training/8.png",
					"/training/9.png",
					"/training/10.png",
				],
				"modal-publications": [
					"/publications/1.png"
				]
			};

			document.querySelectorAll("[data-modal-target]").forEach((card) => {
				card.addEventListener("click", () => {
					const modalId = card.getAttribute("data-modal-target");
					modalTitle.textContent = data[modalId].title;

					// Очищаем старый контент карусели
					modalCarousel.innerHTML = "";

					// Добавляем новые слайды
					carouselData[modalId].forEach((src) => {
						const slide = document.createElement("swiper-slide");
						slide.innerHTML = `
							<div class="bg-white p-2 rounded-lg shadow-md">
								<img src="${src}" alt="Изображение" class="w-full h-auto object-cover rounded-lg">
							</div>
						`;
						modalCarousel.appendChild(slide);
					});

					modal.classList.remove("hidden");
				});
			});

			closeModal.addEventListener("click", () => {
				modal.classList.add("hidden");
			});

			modal.addEventListener("click", (e) => {
				if (e.target === modal) {
					modal.classList.add("hidden");
				}
			});
		});
	</script>

	<section id="materials" class="px-6 py-12 max-w-7xl mx-auto items-center">
		<div class="space-y-6">
			<h2 class="text-3xl font-bold text-blue-600">Полезные материалы</h2>
		</div>

		<div class="overflow-x-auto mt-8">
			<table class="max-w-3xl w-full mx-auto table-auto border-collapse rounded-lg">
				<thead class="bg-blue-600 text-white">
				<tr>
					<th class="px-6 py-4 text-left">Родителю</th>
					<th class="px-6 py-4 text-left">Учителю</th>
				</tr>
				</thead>
				<tbody class="text-gray-800">
				<tr>
					<td class="px-6 py-4">
						<ul class="space-y-2">
							<li><a href="/materials/parents/Анкета%20для%20родителей.docx" class="text-blue-500 hover:underline">Анкета для родителей</a></li>
							<li><a href="/materials/parents/Логопед%20родителям.docx" class="text-blue-500 hover:underline">Логопед родителям</a></li>
							<li><a href="/materials/parents/Рекомендации%20для%20родителей.docx" class="text-blue-500 hover:underline">Рекомендации для родителей</a></li>
							<li><a href="/materials/parents/Советы%20логопеда%20родителям.docx" class="text-blue-500 hover:underline">Советы логопеда родителям</a></li>
						</ul>
					</td>
					<td class="px-6 py-4">
						<ul class="space-y-2">
							<li><a href="/materials/teacher/Алфавит.docx" class="text-blue-500 hover:underline">Алфавит</a></li>
							<li><a href="/materials/teacher/Диктанты.docx" class="text-blue-500 hover:underline">Диктанты</a></li>
							<li><a href="/materials/teacher/Диктанты%20Начало%20года.docx" class="text-blue-500 hover:underline">Диктанты Начало года</a></li>
							<li><a href="/materials/teacher/Диктанты%202018.docx" class="text-blue-500 hover:underline">Диктанты 2018</a></li>
							<li><a href="/materials/teacher/Косая%20линия.docx" class="text-blue-500 hover:underline">Косая линия</a></li>
							<li><a href="/materials/teacher/Логопедическая%20диагностика.docx" class="text-blue-500 hover:underline">Логопедическая диагностика</a></li>
							<li><a href="/materials/teacher/Методические%20рекомендации.docx" class="text-blue-500 hover:underline">Методические рекомендации</a></li>
							<li><a href="/materials/teacher/Речь.docx" class="text-blue-500 hover:underline">Речь</a></li>
						</ul>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</section>

	<section class="px-6 py-12 max-w-7xl mx-auto items-center" id="footer">
		<div class="text-gray-500 pt-2 pb-2 flex flex-col md:flex-row items-center justify-between">
			<div class="text-center md:text-left mb-4 md:mb-0">
				<p class="text-sm">
					&copy; {new Date().getFullYear()} Мусорина Лариса. Разработчик:
					<a href="https://arlcrow.site" class="text-blue-500 hover:text-blue-700">Матвей Александров</a>
				</p>
			</div>
		</div>
	</section>
</Layout>
